@model IQueryable<PromptGarten.Domain.Model.Teacher>
@using MvcContrib.UI.Grid;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; // This is optional!? _Layout.cshtml is the default layout name?
}
<h2>
    Teatchers list:
</h2>

@Html.Grid(Model).AutoGenerateColumns()

<br />
<br />
@Html.ActionLink("Create", "Create")