@model IQueryable<PromptGarten.Domain.Model.Teacher>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; // This is optional!? _Layout.cshtml is the default layout name?
}
<h2>
    Teatchers list:
</h2>

@foreach (PromptGarten.Domain.Model.Teacher t in Model.OrderBy(t => t.Id))
{
    @string.Format("{0} - {1}", t.Id, t.Name);
    <br />
}
<br />
<br />
@Html.ActionLink("Create", "Create")