@model PromptGarten.Web.Models.ShellModel

@{
    ViewBag.Title = "Exec";
}

<h2>Exec</h2>
<form action="/Shell/Exec" method="post">
    Command: @Html.TextBoxFor(m=>m.Command)
    <pre>
    @Model.Output
    </pre>
</form>
